.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

[data-theme='dark'] {
  --ifm-color-primary: #ddae36;
  --ifm-color-primary-dark: #d4a224;
  --ifm-color-primary-darker: #c89922;
  --ifm-color-primary-darkest: #a57e1c;
  --ifm-color-primary-light: #e1b74e;
  --ifm-color-primary-lighter: #e3bc59;
  --ifm-color-primary-lightest: #e9ca7d;
}